//Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

//desktop
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

//tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }

  &.show {
    transform: translate3d(0, 0, 0);
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    padding: 0.5rem;
    height: 40vh;
    transform: translate3d(100%, 0, 0);
  }

  .portrait {
    background: url("../src/img/pritam.jpg");
    width: 250px;
    height: 150px;
    margin-bottom: 1rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

//smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .bio {
    text-justify: none;
    // word-spacing: -2px;
  }

  .ul_list {
    display: inline;
  }

  #home {
    text-align: left;
  }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    padding-left: 0px;
  }
  div.mail {
    font-size: 20px;
  }

  //Work

  div.item {
    padding: 10px;
  }

  //About
  .bio p,
  h4 {
    font-size: 1.2rem;
    text-align: -webkit-left;
  }
  .ul_list {
    font-size: 18px;
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex; /* Safari 6.1+. iOS 7.1+ */
    display: flex;
    -webkit-flex-flow: wrap column; /* Safari 6.1+ */
    flex-flow: wrap column;
    max-height: 150px;
    text-align: left;
  }
  .ul_list li::before {
    content: "▹";
    line-height: 2rem;
  }

  .ul_list li {
    padding-right: 1rem;
  }

  body {
    width: 100%;
    overflow-x: auto;
    // overflow-y: hidden;
    // -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
