@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
// .name {
//   font-size: 20px;
// }
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    // margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    //  background: rgba(lighten($primary-color, 2), 0.5);
    text-align: left;
  }
}

a {
  color: black;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
  }

  a {
    padding: 0.5rem;

    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

//About ---------------

.bio {
  font-size: 1.5rem;
}

.bio-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 1rem;
  border-radius: 50%;
  border: $secondary-color 3px solid;
  align-content: center;
}

.bio h3 {
  margin-top: 2rem;
}

// .bio li {
//   list-style: none;
//   color: #357efc;
//   // float: left;
// }

.ul_list {
  // column-count: 2;
  // list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  //overflow: hidden;
  list-style: none;
}

li {
  color: #357efc;
}

// ul.ul_list li::before {
//   content: "▹";
//   color: #000;
// }

//Works-------------------

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    height: 150px;
    border: 2px #357efc solid;

    &:hover {
      // opacity: 0.5;
      transform: scale(1.4);
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.sm-heading {
  margin-bottom: 20px;
}
//button style
.btn {
  padding: 5px;
  margin-left: 5px;
  // margin: 0.2rem;
  // display: block;
  // padding: 0.2rem 0.5rem;
  // border: 0;
  // margin-bottom: 0.3rem;

  //&:hover {
  // background: $secondary-color;
  // color: set-text-color($secondary-color);

  //}
}

.btn-dark {
  @extend .btn;
  // background: darken($primary-color, 50);
  // background: #333;
  color: #333;
}

.btn-light {
  @extend .btn;
  // background: lighten($primary-color, 50);
  // background: #333;
  color: #333;
}

.item {
  cursor: pointer;
  text-align: center;
  border: 1px solid #357efc;
  padding: 10px;
}

.item a {
  color: #8892b0;
}
.item p {
  margin-left: 5px;
}

.item ul li {
  list-style: none;
  float: left;
  padding: 5px;
}

.item p:hover,
ul li:hover,
h3 {
  color: #357efc;
}

//Contact-------------------------------

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 2px #fff solid;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border: 2px solid #357efc;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
