@charset "UTF-8";
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #fff;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/pree.jpg");
      border-radius: 50%;
      border: solid 3px #357efc; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #357efc; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 26px;
    text-transform: uppercase;
    padding: 0.5rem 0;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #357efc; }

.nav-item:nth-child(1) {
  transition-delay: 0.3s; }

.nav-item:nth-child(2) {
  transition-delay: 0.6s; }

.nav-item:nth-child(3) {
  transition-delay: 0.9s; }

.nav-item:nth-child(4) {
  transition-delay: 1.2s; }

* {
  box-sizing: border-box; }

body {
  background: #fff;
  color: #000;
  color: #000;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(255, 255, 255, 0.6); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    padding: 0.2rem 1rem;
    text-align: left; }

a {
  color: black;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #357efc; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
  main a {
    padding: 0.5rem; }
    main a:hover {
      color: #357efc;
      transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.bio {
  font-size: 1.5rem; }

.bio-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 50%;
  border: #357efc 3px solid;
  align-content: center; }

.bio h3 {
  margin-top: 2rem; }

.ul_list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none; }

li {
  color: #357efc; }

ul.ul_list li::before {
  content: "▹";
  color: #000; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    height: 150px;
    border: 2px #357efc solid; }
    .projects img:hover {
      transform: scale(1.4);
      border-color: #357efc;
      transition: all 0.5s ease-out; }

.sm-heading {
  margin-bottom: 20px; }

.btn, .btn-dark, .btn-light {
  padding: 5px;
  margin-left: 5px; }

.btn-dark {
  color: #333; }

.btn-light {
  color: #333; }

.item {
  cursor: pointer;
  text-align: center; }

.item p {
  margin-left: 5px; }

.item ul li {
  list-style: none;
  float: left;
  padding: 5px; }

.item p:hover,
ul li:hover {
  color: #357efc; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 1.5rem;
    border: 2px #fff solid;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border: 2px solid #357efc;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #357efc;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #e6e6e6;
  color: #000;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
  .show {
    transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    padding: 0.5rem;
    height: 40vh;
    transform: translate3d(100%, 0, 0); }
  .portrait {
    background: url("../src/img/pritam.jpg");
    width: 250px;
    height: 150px;
    margin-bottom: 1rem; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; }
  .bio {
    text-justify: none; }
  .ul_list {
    display: inline; }
  #home {
    text-align: left; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    padding-left: 0px; }
  .boxes div {
    padding: 1rem; } }
